   
     input{
        background-color: rgb(163, 197, 75);
        
        width: 250px;
       height: 50px;
      
    
       
     }
    
        .container {
            border: 3px solid rgb(0, 0, 0);
            background-color: black;
            padding: 5px;
         height: 50%;
         width: 21%;
         margin: 30px auto;
         padding-left: 20px;
         border-radius: 20px;
            
        }
        .container button{
            background-color: rgb(25, 23, 23);
            color: white;
            padding: 20px;
            margin: 5px;
        }
     
        .operator{
          
            width: 40px;
          
            height: 250px;
           

        }
        #btn-c{
            background-color: red;
            color: white;
            width: 120px;
            height: 55px;
        }
      
        #plus-btn{
            height: 130px;
        }
        #btn-zero
        {
            width: 50px;
        }


        
     .container input[placeholder="98649"]{
        color: rgb(0, 0, 0);
        
     }
     #eql-btn{
        background-color: rgb(63, 63, 235);
     }