body{
    background-color: rgb(65, 55, 55);
}
.container {

background-color: rgb(21, 18, 18);
padding: 5px;
 height: 80vh;
 width: 25vw;
 margin: auto auto;
 padding-left: 5%;
 padding-top: 5%;
 border-radius: 20px;
 
 
    
}
   
     input{
        background-color: rgb(163, 197, 75);
       
        
        /* width: 250px;
       height: 50px; */
       width: 80%;
       height: 10%;
       text-align: end;
       font-size: large;
       font-weight: bold;
       color: black;
       
      
    
       
     }
    
        .container button{
            background-color: rgb(25, 23, 23);
            color: white;
            padding: 20px;
            margin: 5px;
          
           
        }
     
        .operator{
          
          
          
           width: 20%;
           height: 95%;
         

        }
        .numeric{
            height: 100%;
       
        }
        #btn-c{
            background-color: red;
            color: white;
           
            width: 61%;
            /* height: 14%; */
            max-height: 13%;
            min-height: 13%;
          
        }
      
        #plus-btn{
            /* height: 130px; */
            height: 31%;
        }
        #btn-zero
        {
            width: 52px;
        } 


  
     #eql-btn{
        background-color: rgb(63, 63, 235);
      
     }
     #dot-btn{
        padding: 11%;
     }